/* Global Styles */
body {
    margin: 0;
    padding: 0;
}

/* Marquee animation for scrolling text */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: inline-block;
    width: max-content;
    animation: scroll-left 6s linear infinite;
    padding-right: 50px;
}
